.mac-book-pro161-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.mac-book-pro161-mac-book-pro161 {
  width: 100%;
  height: 4834px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(31, 31, 31, 1);
}
 
.mac-book-pro161-rectangle1 {
  top: 0px;
  left: 0px;
  width: 1200px;
  height: 1117px;
  position: absolute;
}
 
.mac-book-pro161-rectangle2 {
  top: 52px;
  left: 0px;
  right: 0px;
  width: 1154px;
  height: 94px;
  margin: auto;
  position: absolute;
  border-color: rgba(77, 77, 77, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
}
 
.mac-book-pro161-group3 {
  top: 69px;
  left: 997px;
  width: 156px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  border-color: #4d4d4d;
  border-width: 3px;
  border-radius: var(--dl-layout-radius-radius8);
  justify-content: center;
  background-color: rgba(31, 31, 31, 1);
}
 
.mac-book-pro161-text10 {
  top: 7px;
  left: 35px;
  color: rgba(255, 255, 255, 1);
  width: 88px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-image1 {
  top: 56px;
  left: 40px;
  width: 83px;
  height: 83px;
  position: absolute;
}
 
.mac-book-pro161-text11 {
  top: 82px;
  left: 448px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-text12 {
  top: 81px;
  left: 222px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-registrarse {
  top: 69px;
  left: 712px;
  width: 241px;
  height: 67px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  aspect-ratio: 16/9;
  border-color: #4d4d4d;
  border-style: solid;
  border-width: 3px;
  border-radius: var(--dl-layout-radius-radius8);
}
 
.mac-book-pro161-text13 {
  top: 10px;
  left: 22px;
  color: rgba(255, 255, 255, 1);
  width: 196px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-apresentao {
  top: 192px;
  left: 273px;
  width: 735px;
  height: 455px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.mac-book-pro161-text14 {
  left: 0px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  width: 624px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-text15 {
  top: 338px;
  left: 0px;
  color: rgba(144, 144, 144, 1);
  right: 0px;
  width: 735px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-acesseaqui {
  top: 660px;
  left: 0px;
  right: 0px;
  width: 576px;
  height: 169.06483459472656px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.mac-book-pro161-rectangle5 {
  top: 17.692852020263672px;
  left: 28.505142211914062px;
  width: 547px;
  height: 134px;
  position: absolute;
  border-radius: 27px;
}
 
.mac-book-pro161-image {
  top: 0.0000271722674369812px;
  left: 0px;
  width: 169px;
  height: 169px;
  position: absolute;
}
 
.mac-book-pro161-text16 {
  top: 41.283329010009766px;
  left: 169.0648193359375px;
  color: rgba(0, 0, 0, 1);
  width: 370px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-imagen {
  top: 898px;
  left: 31px;
  width: 1137.757568359375px;
  height: 678.7201538085938px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.mac-book-pro161-rectangle7 {
  top: 16.2957763671875px;
  left: 12.885995864868164px;
  width: 1113px;
  height: 646px;
  position: absolute;
  border-radius: 34px;
}
 
.mac-book-pro161-quemsomos {
  top: 2232px;
  left: 1px;
  width: 1199px;
  height: 1024px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.mac-book-pro161-text17 {
  left: 0px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-text18 {
  top: 161px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  width: 1199px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-text32 {
  top: 3701px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  width: 1097px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-text48 {
  top: 3499px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-rectangle9 {
  top: 3406px;
  left: -44px;
  width: 1287px;
  height: 1px;
  position: absolute;
}
 
.mac-book-pro161-rectangle8 {
  top: 2062px;
  left: -267px;
  width: 1733px;
  height: 1px;
  position: absolute;
}
